body{
    background-color: black;
    text-align: center;
    justify-content: center;
    align-items: center;
}

fieldset{
    width: 100%;
}

legend{
    color: rgb(208, 255, 0);
    font-size: 45px;
}